<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sg.rpc.user.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sg.rpc.user.domain.MenuDomain">
        <id column="id" property="id" />
        <result column="menu_key" property="menuKey" />
        <result column="parent_key" property="parentKey" />
        <result column="application_code" property="applicationCode" />
        <result column="name" property="name" />
        <result column="sub_name" property="subName" />
        <result column="icon" property="icon" />
        <result column="url" property="url" />
        <result column="show_strategy" property="showStrategy" />
        <result column="order_num" property="orderNum" />
        <result column="deleted" property="deleted" />
        <result column="created_by" property="createdBy" />
        <result column="created_at" property="createdAt" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_key, parent_key, application_code, name, sub_name, icon, url, show_strategy, order_num, deleted, created_by, created_at, updated_by, updated_at
    </sql>

</mapper>
