<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sg.rpc.user.mapper.UserExtInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sg.rpc.user.domain.UserExtInfoDomain">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="source_system" property="sourceSystem" />
        <result column="belong_department" property="belongDepartment" />
        <result column="realname_spell" property="realnameSpell" />
        <result column="english_name" property="englishName" />
        <result column="department_name" property="departmentName" />
        <result column="market" property="market" />
        <result column="location" property="location" />
        <result column="org_type" property="orgType" />
        <result column="org_location" property="orgLocation" />
        <result column="join_date" property="joinDate" />
        <result column="grade" property="grade" />
        <result column="job_status" property="jobStatus" />
        <result column="deleted" property="deleted" />
        <result column="created_by" property="createdBy" />
        <result column="created_at" property="createdAt" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, source_system, belong_department, realname_spell, english_name, department_name, market, location, org_type, org_location, join_date, grade, job_status, deleted, created_by, created_at, updated_by, updated_at
    </sql>

</mapper>
